body
{
    font-family: Arial;
}

/* BLOK 1 */

#blok1
{
    width:1208px;
    background-color:gray;
}

.zdanie1_b1
{
    color:fuchsia;
    font-size:1.2cm;
}

.lista1
{
    color:blue;
    font-size:9mm;
    list-style-type:circle;
}

/* BLOK 2 */

#blok2
{
    width:1008px;
    background-color:red;
}

.zdanie1_b2
{
    color:green;
    font-size:1.6cm;
}

.lista2
{
    color:maroon;
    font-size:7mm;
    list-style-type:square;
}

/* BLOK 3 */

#blok3
{
    width:1108px;
    background-color:silver;
}

.zdanie1_b3
{
    color:navy;
    font-size:1.4cm;
}

.zdanie2_b3
{
    font-size:8mm;
}

.lista3
{
    color:red;
    font-size:7mm;
    list-style-type:circle;
}
