body {
    font-family: Arial, sans-serif;
}


.blok1 {
    background-color: #FFFDD0;
    width: 100%;
    height: 40%;
    padding: 15px;
    margin-bottom: 20px;
}

.blok1 p {
    color: orange;
    font-size: 20pt;
    font-family: Arial;
}


.blok2 {
    background-color: #FF00FF;
    width: 80%;
    height: 15%;
    padding: 15px;
    margin-bottom: 20px;
}

.blok2 i {
    color: green;
    font-size: 20pt;
    font-weight: bold;
}

.blok2 strike {
    color: red;
    font-size: 20pt;
}

.blok2 u {
    color: purple;
    font-size: 20pt;
    text-decoration: overline;
}


.blok3 {
    background-color: #00FF7F;
    width: 100%;
    height: 30%;
    padding: 15px;
}

.blok3 h1 {
    color: blue;
    font-size: 30pt;
}

.blok3 ol {
    color: navy;
    font-size: 18pt;
}

.blok3 li:nth-child(1) {
    color: purple;
}

.blok3 li:nth-child(2) {
    color: deeppink;
}

.blok3 li:nth-child(3) {
    color: lightskyblue;
}